@model AloneBirds.Models.Ve
@{
    ViewBag.Title = "CreateTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Ticket</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(m=>m.Price)
        @Html.TextBoxFor(m=>m.Price, new {@class="form-control"})
    </div>
</form>

