@model AloneBirds.ViewModel.TicketViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Ticket"))
{
    <h2>Create Ticket</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.Watching)
        @Html.DropDownListFor(m => m.Watching,
       new SelectList(Model.Watchings,"Id","Id"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}


