@model IEnumerable<AloneBirds.Models.Ticket>
@{
    Layout = "~/Views/Shared/_Layout_Ticket.cshtml";
}

@foreach (var item in Model)
{
    if (@item.State == 0)
    {
        <form class="form-ticket" action="/Ticket/Buy/@item.Id" method="post">
            <button style="" type="submit" onclick="confirm('Bạn đã mua vé thành công')" class="square">@item.Seat</button> 
        </form>

    }
    if (item.State == 1)
    {
        <button type="button" data-toggle="modal" data-target="#exampleModal" style="background-color:lightpink" class="square">@item.Seat</button>
    }

}
<script>
    if (confirm == true) {
        continue
    }
    if (confirm == false) {
        this.close(onsubmit);
    }
</script>



